body {
    background-color: coral;
}

img {
    border-radius: 15px;
    width: 80%;
    
}

#gallery_id {
    width: 100%;
    background-color: antiquewhite;
    height: 150px;
    border-radius: 15px;
}

