body {
    background-color: cadetblue;
}

h1 {
    text-align: center;
}

.Text-holder {
    background-color: antiquewhite;
    border: 4px solid royalblue;
    border-radius: 25px;
    text-align: center;
    width: 60%;
    margin: auto;
}

a {
    color: royalblue;
}
