body{
    background-color: black;
    color: white;
    height: 100vh;
    font: 1.3rem Inconsolata, monospace;
    filter: blur(0.6px);
    text-shadow: 0 0 5px #C8C8C8;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0,0,0, 0.15),
    rgba(0,0,0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

table, tr, td {
    border: 2px solid whitesmoke;
}

table {
    height: 95vh;
    width: 95%;
    /* Optional: make table cells fill the height */
    table-layout: fixed;
}

#chatWindow {
  background-color: black;
  
}