body {
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}

#title {
    font-size: larger;
}

table {
    background-color: blanchedalmond;
    width: 450px;
    border-radius: 15px;
    margin: auto;
}

.table-header {
    font-weight: bold;
}

.table-look {
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
}

.text-randomizer {
    background-color: whitesmoke;
}

button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}

@media (hover: hover) {
    button:hover {
        background-color: black;
        color:white;
        transition-duration: 1s;
    }
}
.generated-words {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.generated-words td {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
}

#word-list {
    text-align: center;
}

#count-place {
    width: 200px;
    background-color: antiquewhite;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#counter {
    font-weight: bolder;
    color: crimson;
}

.settings-look {
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
}

#range-slider {
    width: 100%;
    
}

#range-slider-label {
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}