body {
    background-color: cadetblue;
}

header {
    border: 2px solid black;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
    margin-bottom: 40px;
}

main {
    border: 2px solid black;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
}

#countdown_p, #countdown_t {
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}